In [1]:
from sklearn.model_selection import TimeSeriesSplit
import pandas as pd
import numpy as np

from src.utilities import run_cv, generate_backbone
from src.ToyModel import ToyModel
from src.FeatureGenerator import FeatureGenerator
from src.settings import RAW_PATH, PROCESSED_PATH, SHIFTS, WINS, COLS_MIN_MAX, GROUP_COLS, ROLL_FUNCS

# Initial merge of `sales_train` and `items`

In [ ]:
sales_train = pd.read_csv(RAW_PATH + 'sales_train.csv')
items = pd.read_csv(RAW_PATH + 'items.csv')[['item_id', 'item_category_id']]

In [ ]:
sales_train.head()

In [ ]:
items.head()

In [ ]:
merged_df = sales_train.merge(items, how='left', on='item_id')

In [ ]:
merged_df.isna().sum()

In [ ]:
merged_df.to_parquet(PROCESSED_PATH + 'merged_train_df.parquet', index=False)

# Constructing target

This will be a simpler version of target where instead of rolling window of 30 days we will simply use the month id to sum aggregate number of items sold. We will calculate this for each shop and item, add missing months with 0 sales and shift the aggregate by 1 month.

This functionality has been moved to src.TestGenerator

## Building features

## Features describing sales for `shop_id` and `date_block_num`

For all feature construction we have to use expanded dataset to preserve the sequence of months. If some months are missing, than shifts and window aggregates would not be correct since we are not working with the datetime column here.

This functionality has been implemented and moved to src.FeatureGenerator

### Counts of deals per month and per shop, lags, rolling aggregates

This functionality has been implemented and moved to src.FeatureGenerator

### Aggregates over prices per month and per shop, lags, window aggregates

This functionality has been implemented and moved to src.FeatureGenerator

## Features describing sales for `shop_id`, `category_id` and `date_block_num`

In [ ]:
merged_df = pd.read_parquet(PROCESSED_PATH + 'merged_train_df.parquet')
local_df = merged_df[['date_block_num', 'item_id', 'shop_id', 'item_cnt_day', 'item_price']].reset_index(drop=True).copy()

index_cols = ['shop_id', 'item_id', 'date_block_num']
base_cols = ['item_price', 'item_cnt_day']
target_col = ['target']

res_df = generate_backbone()

In [ ]:
# base aggregates
agg_di = {col: ROLL_FUNCS for col in base_cols}

for k, group in GROUP_COLS.items():
    agg_df = local_df.groupby(group, as_index = False).agg(agg_di)
    agg_df.columns = ['_'.join(col) + f'_per_{k}' if col[1] else col[0] for col in agg_df.columns ]
    res_df = res_df.merge(agg_df, how='left', on=group).fillna(0)

res_df = res_df.rename(columns={'item_cnt_day_sum_per_shop_item': 'target'})
base_feat_cols = [col for col in res_df if col not in index_cols + base_cols + target_col]

In [ ]:
# lag aggregates
cols_to_shift = base_feat_cols + target_col
shifted_cols = []
for shift in SHIFTS:
    preshift_df = res_df[index_cols + cols_to_shift].copy()
    preshift_df['date_block_num'] = preshift_df['date_block_num'] + shift
    rename_dict = {col: f'{col}_lag_{shift}' for col in cols_to_shift}
    shifted_cols += [f'{col}_lag_{shift}' for col in cols_to_shift]
    preshift_df = preshift_df.rename(columns = rename_dict)
    
    res_df = res_df.merge(preshift_df, how='left', on=index_cols).fillna(0)

In [ ]:
# rolling window aggregates
roll_cols = []
col = target_col[0]
for win_len in WINS:
    # groupping_k = col.split('_per_')[1] if not col == target_col[0] else 'shop_item'
    group = GROUP_COLS['shop_item']
    roll_df = res_df[group + [col]].drop_duplicates().sort_values(group)
    new_name = f'{col}_roll_mean_{win_len}'
    roll_df = roll_df.groupby(group[:-1], as_index=False)\
                        .rolling(win_len, on='date_block_num', closed='right')[col].mean().fillna(0).reset_index()\
                        .rename(columns={col: new_name})
    res_df = res_df.merge(roll_df, how='left', on=group)
    roll_cols.append(new_name)
    # print(roll_df.head())
    # print('-'*30)
    # tmp.groupby('shop_id', as_index=False).rolling(2, on='date_block_num')[base_feat_cols[0]].sum()

In [ ]:
res_df.head()

This functionality has been moved to src.FeatureGenerator

This functionality has been implemented and moved to src.FeatureGenerator

## Features describing sales for `shop_id`, `item_id` and `date_block_num`

## Autoregression features

This functionality has been implemented and moved to src.FeatureGenerator

## Features describing sales of a given category in general and for a given shop

In [3]:
GROUP_COLS = {
    'category': ['item_category_id', 'date_block_num'],
    'shop_category': ['shop_id', 'item_category_id', 'date_block_num']
}

index_cols = ['shop_id', 'item_id', 'date_block_num']
base_cols = ['item_price', 'item_cnt_day']
target_col = ['target']
cat_col = ['item_category_id']

In [14]:
merged_df = pd.read_parquet(PROCESSED_PATH + 'merged_train_df.parquet')
local_df = merged_df[['date_block_num', 'item_id', 'shop_id', 
                      'item_cnt_day', 'item_price', 'item_category_id']].reset_index(drop=True).copy()
item_cat_map = local_df[['item_id', 'item_category_id']].drop_duplicates()
res_df = generate_backbone().merge(item_cat_map, how='left')
agg_di = {col: ROLL_FUNCS for col in base_cols}

for k, group in GROUP_COLS.items():
    agg_df = local_df.groupby(group, as_index = False).agg(agg_di)
    agg_df.columns = ['_'.join(col) + f'_per_{k}' if col[1] else col[0] for col in agg_df.columns ]
    print(k)
    res_df = res_df.merge(agg_df, how='left', on=group).fillna(0)

# res_df = res_df.rename(columns={'item_cnt_day_sum_per_shop_item': 'target'})
base_feat_cols = [str(col) for col in res_df if col not in 
                  index_cols + base_cols + target_col + cat_col]

category
shop_category

In [15]:
base_feat_cols

['item_price_sum_per_category',
 'item_price_mean_per_category',
 'item_cnt_day_sum_per_category',
 'item_cnt_day_mean_per_category',
 'item_price_sum_per_shop_category',
 'item_price_mean_per_shop_category',
 'item_cnt_day_sum_per_shop_category',
 'item_cnt_day_mean_per_shop_category']

In [11]:
res_df

,shop_id,item_id,date_block_num,item_category_id,item_price_sum_per_category,item_price_mean_per_category,item_cnt_day_sum_per_category,item_cnt_day_mean_per_category,item_price_sum_per_shop_category,item_price_mean_per_shop_category,item_cnt_day_sum_per_shop_category,item_cnt_day_mean_per_shop_category
0,26,0,0,40.0,7.145102e+06,244.485942,33489.0,1.145902,152869.000000,261.314530,607.0,1.037607
1,26,0,1,40.0,6.771906e+06,252.174936,31649.0,1.178558,151206.566667,258.915354,631.0,1.080479
2,26,0,2,40.0,8.023436e+06,260.645016,36277.0,1.178475,174743.266667,264.361977,725.0,1.096823
3,26,0,3,40.0,6.045864e+06,254.852406,27525.0,1.160266,156502.833333,266.161281,647.0,1.100340
4,26,0,4,40.0,5.554534e+06,247.627583,25470.0,1.135482,115066.833333,252.339547,488.0,1.070175
...,...,...,...,...,...,...,...,...,...,...,...,...
2261335,28,22169,29,69.0,5.913720e+05,938.685683,660.0,1.047619,28744.000000,1105.538462,27.0,1.038462
2261336,28,22169,30,69.0,7.748948e+05,738.698594,1124.0,1.071497,34694.150000,963.726389,36.0,1.000000
2261337,28,22169,31,69.0,7.737686e+05,888.368037,901.0,1.034443,27395.000000,1095.800000,25.0,1.000000
2261338,28,22169,32,69.0,6.168589e+05,947.555853,665.0,1.021505,37622.000000,1140.060606,33.0,1.000000
2261339,28,22169,33,69.0,7.349811e+05,982.595053,888.0,1.187166,30365.000000,867.571429,39.0,1.114286

This functionality has been added to src.FeatureGenerator

So we've created a dataset where for every month we have some descriptive features about sales and profits. We also have a target column that contains the number of items sold in the given shop. We can now train a model to predic number of items sold in the following month.

# Feature generation at inference time

Let's verify that we can create feature dataset to predict target for a given test.csv.

FeatureGenerator and TestGenerator classes have been created and moved to src. We've imported it above and will demonstrate usage for the cases of crossvalidation and inference for a provided test index backbone here.

In [2]:
feat_generator = FeatureGenerator(target_months=[11])

# suppose we want to make 11 the target month, i.e. the month we predict to
test_features_df = feat_generator.generate_features()
test_features_df.head()

,shop_id,item_id,date_block_num,item_category_id,item_price_sum_per_shop_lag_1,item_price_mean_per_shop_lag_1,item_cnt_day_sum_per_shop_lag_1,item_cnt_day_mean_per_shop_lag_1,item_price_sum_per_item_lag_1,item_price_mean_per_item_lag_1,...,item_cnt_day_mean_per_category_lag_12,item_price_sum_per_shop_category_lag_12,item_price_mean_per_shop_category_lag_12,item_cnt_day_sum_per_shop_category_lag_12,item_cnt_day_mean_per_shop_category_lag_12,target_lag_12,target_roll_mean_2,target_roll_mean_5,target_roll_mean_12,target
0,26,32,11,40.0,1.433133e+06,820.809499,2409.0,1.379725,11401.0,144.316456,...,0.0,0.0,0.0,0.0,0.0,0.0,1.5,1.4,0.0,1.0
1,26,33,11,37.0,1.433133e+06,820.809499,2409.0,1.379725,2923.0,194.866667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.4,0.0,3.0
2,26,66,11,37.0,1.433133e+06,820.809499,2409.0,1.379725,399.0,399.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,26,156,11,45.0,1.433133e+06,820.809499,2409.0,1.379725,2093.0,299.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,1.0
4,26,226,11,45.0,1.433133e+06,820.809499,2409.0,1.379725,1245.0,249.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

So, features for a generated shop-item backbone and a given month are generated correctly. Let's now use this functionality
to generate features for the provided test index backbone.

In [2]:
# we are told that the test month is November, so following the last one in the train set, so 34-th 
test_month_num = 34 

# test_backbone in this case is the provided test dataset itself
test_backbone = pd.read_csv(RAW_PATH + 'test.csv')
test_backbone['date_block_num'] = 34
feat_generator = FeatureGenerator()
test_features_df = feat_generator.add_features_to_backbone(test_backbone=test_backbone, target_month=test_month_num)
# test_features_df.head()

{'shop_id': (2, 59), 'item_id': (30, 22167), 'date_block_num': (22, 34)}
   shop_id  item_id  date_block_num  item_category_id
0        2       30              22              40.0
1        2       30              23              40.0
2        2       30              24              40.0
3        2       30              25              40.0
4        2       30              26              40.0
------------------------------
   shop_id  item_id  date_block_num  item_category_id
0        2       30              22              40.0  \
1        2       30              23              40.0
2        2       30              24              40.0
3        2       30              25              40.0
4        2       30              26              40.0

   item_price_sum_per_shop  item_price_mean_per_shop
0             1.434123e+06               1673.422631  \
1             2.704724e+06               1773.589416
2             1.329241e+06               1526.108863
3             8.400967e+05               1096.732025
4             8.747698e+05               1368.966881

   item_cnt_day_sum_per_shop  item_cnt_day_mean_per_shop
0                     1192.0                    1.390898  \
1                     1921.0                    1.259672
2                      987.0                    1.133180
3                      907.0                    1.184073
4                      762.0                    1.192488

   item_price_sum_per_item  item_price_mean_per_item  ...  target
0                  2197.00                169.000000  ...     0.0  \
1                  2695.55                168.471875  ...     0.0
2                  2365.70                168.978571  ...     0.0
3                  2366.00                169.000000  ...     0.0
4                   845.00                169.000000  ...     0.0

   item_cnt_day_mean_per_shop_item  item_price_sum_per_category
0                              0.0                 3.587680e+06  \
1                              0.0                 4.366447e+06
2                              0.0                 3.634829e+06
3                              0.0                 2.859466e+06
4                              0.0                 3.059857e+06

   item_price_mean_per_category  item_cnt_day_sum_per_category
0                    264.032958                        14815.0  \
1                    261.918712                        18876.0
2                    263.298032                        15109.0
3                    256.362387                        12100.0
4                    258.193962                        13084.0

   item_cnt_day_mean_per_category  item_price_sum_per_shop_category
0                        1.090300                           12827.0  \
1                        1.132266                           24122.0
2                        1.094459                           14813.0
3                        1.084813                           15460.0
4                        1.104042                           14773.0

   item_price_mean_per_shop_category  item_cnt_day_sum_per_shop_category
0                         298.302326                                43.0  \
1                         274.113636                                88.0
2                         259.877193                                57.0
3                         234.242424                                68.0
4                         227.276923                                68.0

   item_cnt_day_mean_per_shop_category
0                             1.000000
1                             1.000000
2                             1.000000
3                             1.030303
4                             1.046154

[5 rows x 24 columns]
------------------------------
   shop_id  item_id  date_block_num  item_category_id
0        2       30              22              40.0  \
1        2       30              23              40.0
2        2       30              24              40.0
3        2       30              25              40.0
4        2       30              26              40.0

   item_price_sum_per_shop  item_price_mean_per_shop
0             1.434123e+06               1673.422631  \
1             2.704724e+06               1773.589416
2             1.329241e+06               1526.108863
3             8.400967e+05               1096.732025
4             8.747698e+05               1368.966881

   item_cnt_day_sum_per_shop  item_cnt_day_mean_per_shop
0                     1192.0                    1.390898  \
1                     1921.0                    1.259672
2                      987.0                    1.133180
3                      907.0                    1.184073
4                      762.0                    1.192488

   item_price_sum_per_item  item_price_mean_per_item  ...
0                  2197.00                169.000000  ...  \
1                  2695.55                168.471875  ...
2                  2365.70                168.978571  ...
3                  2366.00                169.000000  ...
4                   845.00                169.000000  ...

   item_cnt_day_mean_per_shop_item_lag_12  item_price_sum_per_category_lag_12
0                                     0.0                                 0.0  \
1                                     0.0                                 0.0
2                                     0.0                                 0.0
3                                     0.0                                 0.0
4                                     0.0                                 0.0

   item_price_mean_per_category_lag_12  item_cnt_day_sum_per_category_lag_12
0                                  0.0                                   0.0  \
1                                  0.0                                   0.0
2                                  0.0                                   0.0
3                                  0.0                                   0.0
4                                  0.0                                   0.0

   item_cnt_day_mean_per_category_lag_12
0                                    0.0  \
1                                    0.0
2                                    0.0
3                                    0.0
4                                    0.0

   item_price_sum_per_shop_category_lag_12
0                                      0.0  \
1                                      0.0
2                                      0.0
3                                      0.0
4                                      0.0

   item_price_mean_per_shop_category_lag_12
0                                       0.0  \
1                                       0.0
2                                       0.0
3                                       0.0
4                                       0.0

   item_cnt_day_sum_per_shop_category_lag_12
0                                        0.0  \
1                                        0.0
2                                        0.0
3                                        0.0
4                                        0.0

   item_cnt_day_mean_per_shop_category_lag_12  target_lag_12
0                                         0.0            0.0
1                                         0.0            0.0
2                                         0.0            0.0
3                                         0.0            0.0
4                                         0.0            0.0

[5 rows x 124 columns]
------------------------------

In [3]:
test_features_df[test_features_df['item_id'] == 5037]

,ID,shop_id,item_id,date_block_num,item_category_id,item_price_sum_per_shop_lag_1,item_price_mean_per_shop_lag_1,item_cnt_day_sum_per_shop_lag_1,item_cnt_day_mean_per_shop_lag_1,item_price_sum_per_item_lag_1,...,item_cnt_day_mean_per_category_lag_12,item_price_sum_per_shop_category_lag_12,item_price_mean_per_shop_category_lag_12,item_cnt_day_sum_per_shop_category_lag_12,item_cnt_day_mean_per_shop_category_lag_12,target_lag_12,target_roll_mean_2,target_roll_mean_5,target_roll_mean_12,target
0,0,5,5037,34,19.0,9.946467e+05,1030.721934,1052.0,1.090155,37475.0,...,1.144403,120378.000000,1695.464789,77.0,1.084507,1.0,0.5,1.2,1.000000,0.0
5100,5100,4,5037,34,19.0,6.854857e+05,972.320189,831.0,1.178723,37475.0,...,1.144403,107827.000000,1711.539683,64.0,1.015873,0.0,0.0,0.6,0.416667,0.0
10200,10200,6,5037,34,19.0,2.012338e+06,1314.394280,1802.0,1.177008,37475.0,...,1.144403,243949.000000,1951.592000,150.0,1.200000,4.0,0.5,0.6,1.250000,0.0
15300,15300,3,5037,34,19.0,7.346620e+05,1343.074954,613.0,1.120658,37475.0,...,1.144403,149765.925000,1682.763202,95.0,1.067416,2.0,0.0,0.6,1.000000,0.0
20400,20400,2,5037,34,19.0,1.072151e+06,1670.016874,727.0,1.132399,37475.0,...,1.144403,202695.300000,1762.567826,126.0,1.095652,0.0,0.5,0.8,1.000000,0.0
25500,25500,7,5037,34,19.0,1.416323e+06,1323.666296,1212.0,1.132710,37475.0,...,1.144403,269762.000000,1822.716216,155.0,1.047297,2.0,2.5,2.6,2.000000,0.0
30600,30600,10,5037,34,19.0,4.222057e+05,1077.055357,428.0,1.091837,37475.0,...,1.144403,100520.070000,1733.104655,62.0,1.068966,1.0,0.0,0.2,0.333333,0.0
35700,35700,12,5037,34,19.0,1.592887e+06,1490.071772,4181.0,3.911132,37475.0,...,1.144403,160656.785714,1935.623924,142.0,1.710843,0.0,-0.5,0.6,0.666667,0.0
40800,40800,28,5037,34,19.0,2.866024e+06,1140.933205,3018.0,1.201433,37475.0,...,1.144403,502857.600000,1728.032990,352.0,1.209622,1.0,5.0,3.6,3.666667,0.0
45900,45900,31,5037,34,19.0,4.686812e+06,964.960253,6112.0,1.258390,37475.0,...,1.144403,525415.833333,1751.386111,395.0,1.316667,2.0,12.0,7.4,5.833333,0.0
51000,51000,26,5037,34,19.0,1.413624e+06,1259.914530,1409.0,1.255793,37475.0,...,1.144403,149374.000000,1965.447368,92.0,1.210526,0.0,0.5,0.2,0.916667,0.0
56100,56100,25,5037,34,19.0,5.301322e+06,1138.844622,6247.0,1.341998,37475.0,...,1.144403,489669.000000,1950.872510,324.0,1.290837,2.0,2.5,3.2,3.000000,0.0
61200,61200,22,5037,34,19.0,1.228006e+06,1157.404646,1336.0,1.259189,37475.0,...,1.144403,104845.000000,2329.888889,63.0,1.400000,1.0,2.0,1.0,0.750000,0.0
66300,66300,24,5037,34,19.0,1.493692e+06,1402.527856,1227.0,1.152113,37475.0,...,1.144403,196183.000000,1691.232759,120.0,1.034483,0.0,4.0,3.6,2.583333,0.0
71400,71400,21,5037,34,19.0,2.006097e+06,1280.215167,1912.0,1.220166,37475.0,...,1.144403,199189.250000,1794.497748,128.0,1.153153,3.0,1.5,1.4,1.416667,0.0
76500,76500,15,5037,34,19.0,1.738268e+06,1547.878836,1243.0,1.106857,37475.0,...,1.144403,250037.700000,1968.800787,138.0,1.086614,0.0,1.0,1.0,1.333333,0.0
81600,81600,16,5037,34,19.0,1.334440e+06,1546.280031,963.0,1.115875,37475.0,...,1.144403,174808.000000,1900.086957,103.0,1.119565,1.0,2.0,3.2,2.333333,0.0
86700,86700,18,5037,34,19.0,1.483750e+06,1433.574507,1211.0,1.170048,37475.0,...,1.144403,225470.500000,1565.767361,163.0,1.131944,1.0,1.0,2.0,2.416667,0.0
91800,91800,14,5037,34,19.0,1.104938e+06,1274.438864,1002.0,1.155709,37475.0,...,1.144403,146790.000000,1881.923077,85.0,1.089744,2.0,2.5,3.0,2.416667,0.0
96900,96900,19,5037,34,19.0,1.534448e+06,1178.531490,1449.0,1.112903,37475.0,...,1.144403,240067.450000,1818.692803,147.0,1.113636,2.0,0.0,0.6,1.333333,0.0
102000,102000,42,5037,34,19.0,3.812131e+06,1225.765684,4491.0,1.444051,37475.0,...,1.144403,285273.500000,1750.144172,199.0,1.220859,0.0,4.5,5.4,3.833333,0.0
107100,107100,50,5037,34,19.0,1.266217e+06,1502.036708,949.0,1.125741,37475.0,...,1.144403,124029.700000,1771.852857,73.0,1.042857,2.0,2.0,2.0,1.916667,0.0
112200,112200,49,5037,34,19.0,6.912610e+05,1113.141707,648.0,1.043478,37475.0,...,1.144403,76899.500000,1507.833333,51.0,1.000000,0.0,0.5,2.0,1.583333,0.0
117300,117300,53,5037,34,19.0,1.051156e+06,1114.693405,1061.0,1.125133,37475.0,...,1.144403,214026.200000,1877.422807,117.0,1.026316,2.0,2.5,2.8,2.666667,0.0
122400,122400,52,5037,34,19.0,8.548380e+05,1087.580191,847.0,1.077608,37475.0,...,1.144403,105035.700000,1667.233333,67.0,1.063492,1.0,2.0,1.8,1.916667,0.0
127500,127500,47,5037,34,19.0,2.053209e+06,1395.791440,1776.0,1.207342,37475.0,...,1.144403,389964.650000,1848.173697,241.0,1.142180,3.0,0.5,1.8,2.916667,0.0
132600,132600,48,5037,34,19.0,1.195557e+06,1212.532915,1111.0,1.126775,37475.0,...,1.144403,146115.250000,1699.014535,90.0,1.046512,2.0,0.5,2.0,1.916667,0.0
137700,137700,57,5037,34,19.0,2.224367e+06,1061.750358,2316.0,1.105489,37475.0,...,1.144403,216438.900000,1652.205344,139.0,1.061069,1.0,0.5,0.4,0.916667,0.0
142800,142800,58,5037,34,19.0,1.609430e+06,1211.920188,1446.0,1.088855,37475.0,...,1.144403,136071.000000,1722.417722,82.0,1.037975,0.0,0.5,0.4,0.750000,0.0
147900,147900,59,5037,34,19.0,8.232262e+05,1129.254066,790.0,1.083676,37475.0,...,1.144403,142763.666667,1830.303419,81.0,1.038462,3.0,2.0,4.4,3.083333,0.0
153000,153000,55,5037,34,19.0,1.032017e+06,751.103833,1972.0,1.435226,37475.0,...,1.144403,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
158100,158100,56,5037,34,19.0,1.269425e+06,1089.635193,1263.0,1.084120,37475.0,...,1.144403,170810.700000,1725.360606,105.0,1.060606,4.0,0.0,2.0,2.166667,0.0
163200,163200,36,5037,34,19.0,3.568190e+05,1166.075163,330.0,1.078431,37475.0,...,1.144403,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
168300,168300,37,5037,34,19.0,1.010353e+06,1537.827305,833.0,1.267884,37475.0,...,1.144403,107526.000000,1822.474576,63.0,1.067797,0.0,2.0,2.2,2.250000,0.0
173400,173400,35,5037,34,19.0,1.619729e+06,1281.430820,1418.0,1.121835,37475.0,...,1.144403,252556.650000,1870.790000,162.0,1.200000,2.0,2.5,3.8,3.333333,0.0
178500,178500,38,5037,34,19.0,1.438691e+06,1490.871848,1110.0,1.150259,37475.0,...,1.144403,296929.850000,1736.431871,195.0,1.140351,6.0,5.5,6.2,5.000000,0.0
183600,183600,34,5037,34,19.0,5.957786e+05,1752.290107,383.0,1.126471,37475.0,...,1.144403,49464.000000,1902.461538,26.0,1.000000,0.0,2.0,2.2,1.333333,0.0
188700,188700,46,5037,34,19.0,1.531588e+06,1327.199162,1320.0,1.143847,37475.0,...,1.144403,255305.575000,1760.728103,160.0,1.103448,2.0,0.5,1.0,1.666667,0.0
193800,193800,41,5037,34,19.0,9.892120e+05,1429.497110,742.0,1.072254,37475.0,...,1.144403,120203.500000,1821.265152,72.0,1.090909,0.0,0.5,0.6,0.583333,0.0
198900,198900,44,5037,34,19.0,7.111640e+05,982.270718,779.0,1.075967,37475.0,...,1.144403,99782.300000,2078.797917,51.0,1.062500,0.0,0.0,0.4,0.500000,0.0
204000,204000,39,5037,34,19.0,1.046676e+06,1506.008953,997.0,1.434532,37475.0,...,1.144403,86794.400000,1886.834783,46.0,1.000000,0.0,0.0,0.4,0.250000,0.0
209100,209100,45,5037,34,19.0,7.343207e+05,1176.795940,702.0,1.125000,37475.0,...,1.144403,134265.000000,1814.391892,77.0,1.040541,0.0,1.5,0.8,1.000000,0.0

In [14]:
merged_df[merged_df['item_id'] == 5037]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
1953995,21.09.2014,20,5,5037,2599.0,1.0,19
1956692,12.09.2014,20,4,5037,2599.0,1.0,19
1956970,12.09.2014,20,3,5037,2599.0,1.0,19
1956971,14.09.2014,20,3,5037,2599.0,1.0,19
1956972,18.09.2014,20,3,5037,2599.0,1.0,19
...,...,...,...,...,...,...,...
2925201,31.10.2015,33,26,5037,1499.0,1.0,19
2925689,06.10.2015,33,31,5037,1499.0,1.0,19
2929098,11.10.2015,33,24,5037,1499.0,1.0,19
2931908,29.10.2015,33,21,5037,1499.0,1.0,19
2934477,18.10.2015,33,25,5037,1499.0,1.0,19

In [26]:
def construct_cols_min_max(dfs: list[pd.DataFrame], cols: list[str]) -> dict:
    return {col: (min([el_df[col].min() for el_df in dfs]),
                  max([el_df[col].max() for el_df in dfs])) for col in cols}

construct_cols_min_max(dfs=[test_backbone, merged_df], 
                       cols=['shop_id', 'item_id', 'date_block_num'])

{'shop_id': (0, 59), 'item_id': (0, 22169), 'date_block_num': (0, 34)}

In [21]:
test_backbone

            ID  shop_id  item_id  date_block_num
0            0        5     5037              34
1            1        5     5320              34
2            2        5     5233              34
3            3        5     5232              34
4            4        5     5268              34
...        ...      ...      ...             ...
214195  214195       45    18454              34
214196  214196       45    16188              34
214197  214197       45    15757              34
214198  214198       45    19648              34
214199  214199       45      969              34

[214200 rows x 4 columns]

In [9]:
train_shop_range = range(COLS_MIN_MAX['shop_id'][0], COLS_MIN_MAX['shop_id'][1]+1)
test_features_df[test_features_df['shop_id'].isin(train_shop_range)]

,ID,shop_id,item_id,date_block_num,item_category_id,item_price_sum_per_shop_lag_1,item_price_mean_per_shop_lag_1,item_cnt_day_sum_per_shop_lag_1,item_cnt_day_mean_per_shop_lag_1,item_price_sum_per_item_lag_1,...,item_cnt_day_mean_per_category_lag_12,item_price_sum_per_shop_category_lag_12,item_price_mean_per_shop_category_lag_12,item_cnt_day_sum_per_shop_category_lag_12,item_cnt_day_mean_per_shop_category_lag_12,target_lag_12,target_roll_mean_2,target_roll_mean_5,target_roll_mean_12,target
40800,40800,28,5037,34,19.0,2.866024e+06,1140.933205,3018.0,1.201433,37475.0,...,1.144403,502857.600000,1728.032990,352.0,1.209622,1.0,5.0,3.6,3.666667,0.0
40801,40801,28,5320,34,0.0,2.866024e+06,1140.933205,3018.0,1.201433,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
40802,40802,28,5233,34,19.0,2.866024e+06,1140.933205,3018.0,1.201433,49159.0,...,1.144403,502857.600000,1728.032990,352.0,1.209622,0.0,5.0,4.2,2.000000,0.0
40803,40803,28,5232,34,23.0,2.866024e+06,1140.933205,3018.0,1.201433,35713.0,...,1.099875,472590.100000,1559.703300,360.0,1.188119,0.0,3.5,1.4,0.583333,0.0
40804,40804,28,5268,34,0.0,2.866024e+06,1140.933205,3018.0,1.201433,0.0,...,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56095,56095,26,18454,34,55.0,1.413624e+06,1259.914530,1409.0,1.255793,198.0,...,1.041406,41979.700000,310.960741,137.0,1.014815,0.0,0.0,0.0,0.416667,0.0
56096,56096,26,16188,34,64.0,1.413624e+06,1259.914530,1409.0,1.255793,1359.0,...,1.035102,11077.000000,852.076923,14.0,1.076923,0.0,0.0,0.0,0.000000,0.0
56097,56097,26,15757,34,55.0,1.413624e+06,1259.914530,1409.0,1.255793,1145.0,...,1.041406,41979.700000,310.960741,137.0,1.014815,0.0,0.0,0.0,0.083333,0.0
56098,56098,26,19648,34,40.0,1.413624e+06,1259.914530,1409.0,1.255793,178.2,...,1.090300,58121.966667,302.718576,199.0,1.036458,0.0,0.0,0.2,0.250000,0.0
56099,56099,26,969,34,37.0,1.413624e+06,1259.914530,1409.0,1.255793,594.0,...,1.076620,37185.500000,413.172222,100.0,1.111111,0.0,0.0,0.0,0.083333,0.0

# Cross validation

In here we will check if existing functionality is enough to do a round of crossvalidation.
Overall idea:
- data for all folds is generated using TestGenerator and FeatureGenerator classes
- data is split to train/test by order number of month using sklearn.TimeSeriesSplit

In [ ]:
# TODO: consider introducing 1-2 months gap between train and test
# TODO: it should be possible to use sklearn cross validation functionality: 
# 1) build df with all features and offload it to data/processed 
# 2) build custom layer to sample from the dataset using sklearn.TimeSeriesSplit based on months

In [ ]:
merged_df = pd.read_parquet(PROCESSED_PATH + 'merged_train_df.parquet')
all_months = merged_df['date_block_num'].unique()
all_months = all_months[all_months > max(WINS+SHIFTS)] # leaving enough months for longest shift/window calculation
print(f'all months: {all_months}\n len: {len(all_months)}')

tscv = TimeSeriesSplit(test_size = 2, max_train_size=11)
for i, (train_index, test_index) in enumerate(tscv.split(all_months)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

Let's try the implemented functionality to run a simple time series cross validation. We will use a simple mean predictor as a model for now.

In [ ]:
# initiating data generators
feat_generator = FeatureGenerator()

# initiating toy model
model = ToyModel()

# initiating cv splitter
tscv = TimeSeriesSplit(test_size = 2, max_train_size=11)

# generating all of the data which we will iterate over during CV
features_df = feat_generator.generate_features()

# creating col lists for training
cols_di={
    'index': feat_generator.index_cols,
    'target': feat_generator.target_col,
    'feats': feat_generator.shifted_cols + feat_generator.roll_cols
}


# iterating over CV folds
cv_res = run_cv(df=features_df, months_cv_split=tscv, model=model, cols_di=cols_di, verbose=2)

We see that functionality built is sufficient and we can now go on to try more complex models.

In [ ]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor

model = LinearRegression()
# model = XGBRegressor()

# creating col lists for training
cols_di={
    'index': feat_generator.index_cols,
    'target': feat_generator.target_col,
    'feats': feat_generator.roll_cols + feat_generator.shifted_cols 
}

# iterating over CV folds
cv_res = run_cv(df=features_df, months_cv_split=tscv, model=model, cols_di=cols_di, verbose=2)